<div class="bg background-sign">
    <div class="background-sign__parallax us-n">
        <div class="parallax__overlay"></div>
        <img class="overlay__layer" data-speed="5" src="./views/public/assets/img/layer-a.png" alt="">
        <img class="overlay__layer" data-speed="-5" src="./views/public/assets/img/layer-b.png" alt="">
        <img class="overlay__layer" data-speed="2" src="./views/public/assets/img/layer-c.png" alt="">
        <img class="overlay__layer" data-speed="1" src="./views/public/assets/img/layer-a.png" alt="">
        <img class="overlay__layer" data-speed="7" src="./views/public/assets/img/layer-b.png" alt="">
        <img class="overlay__layer" data-speed="-8" src="./views/public/assets/img/layer-c.png" alt="">
        <img class="overlay__layer" data-speed="6" src="./views/public/assets/img/layer-a.png" alt="">
        <img class="overlay__layer" data-speed="3" src="./views/public/assets/img/layer-b.png" alt="">
        <img class="overlay__layer" data-speed="-4" src="./views/public/assets/img/layer-c.png" alt="">

    </div>
    <div class="background-sign__cover">
        <h2>Sign Up</h2>

    </div>
</div>