<div class="bg background-sign">
    <div class="background-sign__parallax us-n">
        <div class="parallax__overlay">
            <div class="overlay__animate"></div>
        </div>
        <img
            class="overlay__layer"
            data-speed="5"
            src="./views/public/assets/img/layerg-1.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-5"
            src="./views/public/assets/img/layerg-2.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="2"
            src="./views/public/assets/img/layerg-3.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="1"
            src="./views/public/assets/img/layerg-4.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="7"
            src="./views/public/assets/img/layerg-5.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-8"
            src="./views/public/assets/img/layerg-6.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="6"
            src="./views/public/assets/img/layerg-7.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="3"
            src="./views/public/assets/img/layerg-8.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-4"
            src="./views/public/assets/img/layerg-9.png"
            alt=""
        />
    </div>
    <div class="background-sign__cover">
        <div class="cover-form">
            <h2>Sign In</h2>
            <form method="get">
                <div class="cover-form__group">
                    <input type="text" placeholder="E-mail" name="email"/>
                </div>
                <div class="cover-form__group">
                    <input type="text" placeholder="Senha" name="password"/>
                </div>
                <div class="cover-form__group">
                    <input type="submit" value="Enviar" name="action"/>
                </div>
            </form>
        </div>
    </div>
</div>
