<div class="bg background-sign">
    <div class="background-sign__parallax us-n">
        <div class="parallax__overlay">
            <div class="overlay__animate"></div>
        </div>
        <img
            class="overlay__layer"
            data-speed="5"
            src="./views/public/assets/img/layer-1.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-5"
            src="./views/public/assets/img/layer-2.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="2"
            src="./views/public/assets/img/layer-3.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="1"
            src="./views/public/assets/img/layer-4.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="7"
            src="./views/public/assets/img/layer-5.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-8"
            src="./views/public/assets/img/layer-6.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="6"
            src="./views/public/assets/img/layer-7.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="3"
            src="./views/public/assets/img/layer-8.png"
            alt=""
        />
        <img
            class="overlay__layer"
            data-speed="-4"
            src="./views/public/assets/img/layer-9.png"
            alt=""
        />
    </div>
    <div class="background-sign__cover">
        <div class="cover-form">
            <h2>Sign Up</h2>
            <form method="get">
                <div class="cover-form__group">
                    <input type="text" placeholder="Nome" />
                    <input type="text" placeholder="Sobrenome" />
                </div>
                <div class="cover-form__group">
                    <input type="text" placeholder="E-mail" />
                    <input type="text" placeholder="Telefone" />
                </div>
                <div class="cover-form__group"></div>
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </div>
</div>
