* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    box-sizing: border-box;
}
html,
body,
main {
    height: 100%;
    min-width: 260px;
    overflow-x: hidden;
    min-height: 100vh;
}
main {
    background-color: #1b1d29;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #f0f8ff;
}
::selection {
    color: #f0f8ff;
    background-color: #ff89be;
}
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 50rem;
    background-color: #222;
}
input {
    margin: 5px 0;
    padding: 10px 20px;
    border: 0;
    color: #8d99ae;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
input[type='submit'] {
    cursor: pointer;
    color: #f0f0f0;
    font-weight: bold;
    background-color: #f72553;
    width: 100%;
    max-width: 200px !important;
    transition-delay: 500ms;
    transition-property: box-shadow;
    transform-style: flat;
    transition-duration: 500ms;
}
input[type='submit']:hover {
    box-shadow: 0 0 3px #f72553, 0 0 6px #f72553;
}
.btn {
    user-select: none;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid black;
    color: #000;
    background-color: transparent;
}
.fixed {
    top: 0;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    color: #f0f0f0;
    text-align: center;
    width: 100%;
    height: 100vh;
}
/* framework */
.bg {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.us-n {
    user-select: none;
}

.iz-1 {
    z-index: 1;
}
.iz-2 {
    z-index: 2;
}
.iz-3 {
    z-index: 3;
}
.ps-a {
    position: absolute !important;
}
.ps-r {
    position: relative !important;
}
.d-f {
    display: flex;
}
/* :: */
/* layouts ../layouts */
/* layouts ../layouts/singIn.html && ../layouts/singUp.html */
.background-sign {
    height: 100vh;
    min-height: 700px;
    background: #1b1d29;
}
.background-sign .background-sign__parallax {
    position: absolute;
    min-width: 260px;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    min-height: 700px;
}
.background-sign .background-sign__parallax .parallax__overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.background-sign
    .background-sign__parallax
    .parallax__overlay
    .overlay__animate {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1s;
    transition-property: width, height;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transform: translate(50%, 50%);
}
.background-sign
    .background-sign__parallax
    .parallax__overlay
    .overlay__animate.full {
    width: 5000px;
    height: 5000px;
}
.background-sign .background-sign__parallax img {
    margin-top: 54px;
    left: 7%;
    position: absolute;
    width: max(85%, 260px);
    height: min(max(50vw, 150px), 646px);
}
@media screen and (max-width: 400px) {
    .background-sign .background-sign__parallax img {
        left: 4vw !important;
    }
}
.background-sign .background-sign__cover {
    padding-top: 100px;
    height: 80%;
    position: relative;
    z-index: 2;
}
.background-sign .background-sign__cover .cover-form {
    position: absolute;
    right: 10%;

    top: 50%;
    transform: translate(0, -50%);

    border-radius: 20px;
    padding: 50px 8px 100px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
}
.background-sign .background-sign__cover .cover-form h2 {
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .background-sign .background-sign__cover .cover-form {
        transform: translate(50%, -50%);
        right: 50%;
    }
}
/* :: */

/* templates ../templates/ */
/* headerSign ../templates/headerSign.html */
.container-auto {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
}
.container-header {
    min-width: 260px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.container-header .container-header__nav {
    height: 60px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-header .container-header__nav .nav__logo {
    display: flex;
    align-items: center;
}
.container-header .container-header__nav .nav__logo span {
    font-size: 10px;
    margin-left: 10px;
    color: #64ff61;
}
.container-header .container-header__nav .nav__logo .logo__bread {
    width: 20px;
    height: 20px;
}
.items-join {
    align-items: center;
}
.nav__navbar .navbar__list {
    display: flex;
}
.nav__navbar .navbar__list .list__tab {
    list-style: none;
}
.button-burger .button-burger__button {
    display: none;
}
.nav__navbar-mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .button-burger .button-burger__button {
        margin-left: 20px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        color: #fff;

        position: relative;
        display: block;
        z-index: 10;
        width: 50px;
        height: 50px;
    }
    .button-burger__button span {
        pointer-events: none;
        top: 50%;

        display: block;
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 100%;
        transform: translateY(-300%);
        transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .button-burger__button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .button-burger__button span:nth-child(1) {
        transform: translateY(200%);
    }
    .button-burger__button.active span:nth-child(1) {
        transform: translateY(0) rotateZ(45deg);
    }
    .button-burger__button.active span:nth-last-child(1) {
        transform: translateY(0) rotateZ(-45deg);
    }
    .items-join .nav__navbar .navbar__list .list__tab .btn-desktop {
        order: 2;
        display: none;
    }
    .nav__navbar-mobile.nav__navbar .navbar-mobile__right {
        height: 100%;
    }
    .nav__navbar-mobile.nav__navbar .navbar__list {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav__navbar-mobile.nav__navbar .navbar__list .list__tab .btn-mobile {
        text-align: center;
        display: block;

        width: 100%;
    }
    .nav__navbar-mobile.nav__navbar .navbar__list .list__tab {
        padding: 0 5%;
        width: 100%;
    }
    .nav__navbar-mobile.nav__navbar .navbar__list .list__tab .list__tab__grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 3px;
        margin-bottom: 30px;
    }
    .nav__navbar-mobile.nav__navbar
        .navbar__list
        .list__tab
        .list__tab__grid
        .list__tab__grid__child {
        overflow: hidden;
        border-radius: 4px;
        background-color: rgba(250, 250, 250, 0.1);
    }
    .nav__navbar-mobile.nav__navbar
        .navbar__list
        .list__tab
        .list__tab__grid
        .list__tab__grid__child
        img {
        object-fit: cover;

        width: 100%;
        height: 100%;
    }
    .nav__navbar-mobile {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 128vh;
        padding-top: 60px;
        padding-bottom: calc(28vh + 60px);
        background-color: rgba(0, 0, 0, 0.9);
        max-width: 400px;
        top: 0;
        right: -450px;
        display: block;
        transition: 400ms right ease-in-out;
    }
    .nav__navbar-mobile.active {
        right: 0;
    }
}
.nav__navbar .navbar__list .list__tab .tab__link.bg-full {
    background-color: #f0f0f0;
    color: #222;
    border-radius: 5px;
    padding: 3px 30px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 17px;
}
.nav__navbar .navbar__list .list__tab .tab__link {
    color: #f0f8ff;
    font-size: 14px;
    text-decoration: none;
}
/* :: */

/* footerSign ../templates/footerSign.html */
.footer-container {
    height: 100px;
    background-color: #14151d;
}
.footer-container .footer-container__copyright {
    font-size: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.footer-container .footer-container__move {
    background-color: #1b1d29;
    border-radius: 60% 30% 0 0;
    padding: 0 30px;
    width: 100%;
    height: 200px;
    top: -150px;
    border-bottom: 1px solid #000;
}

.footer-container .footer-container__move .footer-container__datas {
    margin-top: 20px;
    height: 200px;
    align-items: center;
    display: flex;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__info
    span {
    color: #64ff61;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__info
    .info__cellphone {
    font-size: 10px;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__info
    .info__email {
    font-size: min(max(1.5vw, 13.5px), 17px);
}
@media screen and (max-width: 320px) {
    .footer-container
        .footer-container__move
        .footer-container__datas
        .datas__contact
        .contact__info
        .info__email {
        font-size: min(max(3.7vw, 6.5px), 21px);
    }
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network {
    display: flex;
    flex-direction: column;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link {
    font-size: 19px;
    margin-bottom: 3px;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__whatsapp
    a {
    color: #64ff61;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__whatsapp
    a:hover {
    filter: drop-shadow(0 2px 4px #64ff61);
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__facebook
    a {
    color: #13449e;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__facebook
    a:hover {
    filter: drop-shadow(0 2px 4px #13449e);
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__linkedin
    a {
    color: #3298e6;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__linkedin
    a:hover {
    filter: drop-shadow(0 2px 4px #3298e6);
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__github
    a {
    color: #f04500;
}
.footer-container
    .footer-container__move
    .footer-container__datas
    .datas__contact
    .contact__social-network
    .social-link.social-network__github
    a:hover {
    filter: drop-shadow(0 2px 4px #f04500);
}
/* :: */
